
@{
    ViewBag.Title = "Index";
}

<h2>Tienda SheyKa - Sitio de Administracion</h2>

<div>
    <img src="~/Imagenes/portada.jpg" alt="Tienda Online SheyKa" style="width: 100%; max-width: 600px;" />
</div>